NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173

DB_HOST=localhost
DB_PORT=5432
DB_NAME=diezmos_db
DB_ADMIN_DATABASE=postgres
DB_USER=diezmapp_user
DB_PASSWORD=diezmapp_password

BCV_RATE_URL=https://ve.dolarapi.com/v1/dolares/oficial
